.collapse-heading {
  padding: 10px 15px;
  background-color: #f3f3f3;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 2px;
}

.collapse-heading strong {
  font-weight: 400;
}
    
#collapsed_content {
  padding: 5px 40px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f3f3f3;
  margin: 0;
}

core-icon.rotated {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}